.dropdown {
  width: 100%;
  margin-bottom: 1rem;
}

.dropdown .dropdown_head {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.dropdown .dropdown_content {
  padding: 1rem;
}

.dropdown .dropdown_content p {
  margin: 0;
}

.content_open {
  opacity: 1;
  overflow: initial;
  max-height: 1000px;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}
.content_close {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
